@font-face {
    font-family: 'TheLast';
    src: url('./ACCompacta/AC-Compacta.ttf');
  }
  

/* Reset */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Body Styles */
body {
  font-size: 1.6rem;
  line-height: 0.9;
  margin: 0;
  padding: 0;
  color: #fff;
}
h1{
    margin: 0;
    font-family: 'TheLast';
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.section{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
.bg{
    background: #fff no-repeat center center fixed;
    background-size: cover;
}
.parallax{
    background-image: url(./img/1-phone.jpg);
    height: 60vh;
}
.games{
    background-image: url(./img/2-phone.jpg);
    height: 100vh;
}

.parallax__Title {
    position: absolute;
    bottom: 5rem;
    margin-left: 5rem;
    text-transform: uppercase;
    white-space: pre-line;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 5rem;
    font-weight: 500;  
}
@media (min-width:768px){
    .parallax{
        height: 200vh;
        background-image: url(./img/1.png);
    }
    .games{
        background-image: url(./img/2.jpg);
        height: 100vh;
    }
    .parallax__Title {
        font-size: 15rem;
        margin-left: 10rem;
    }
}
